<!DOCTYPE html>

<html>
<head lang="en">
<meta charset="UTF-8">

<link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/Flat-UI/dist/css/flat-ui.min.css"/>

<script src="static/Flat-UI/dist/js/vendor/jquery.min.js"></script>

<script src="static/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="static/Flat-UI/dist/js/flat-ui.min.js"></script>

<title>图书详情</title>

<style>

.row{
margin-left:20px;
margin-right:20px;
}

.center{
text-align:center;
}

.box{
width:320px;
height:60px;
display:flex;
flex-direction: row-reverse;
justify-content: space-between;
}

input[type="radio"]{
display:none;
}

.star path{
stroke:#333;
stroke-width:1;
fill:none;
cursor:pointer;
}

.info-box{
margin-top:20px;
font-size:16px;
line-height:28px;
}

</style>

</head>

<body>

<div class="navbar navbar-default navbar-static-top">
<div class="container">

<div class="navbar-header">
<a class="navbar-brand" href="/">图书推荐系统</a>
</div>

<div class="navbar-collapse collapse">

<ul class="nav navbar-nav">
<li><a href="/">首页</a></li>
<li><a href="/historical">历史评分</a></li>
<li><a href="/user">个人中心</a></li>
</ul>

{% if not login %}

<ul class="nav navbar-nav navbar-right">
<li><a href="/loginForm">登录</a></li>
<li><a href="/registerationForm">注册</a></li>
</ul>

{% else %}

<ul class="nav navbar-nav navbar-right">
<li><a>{{ useid }}</a></li>
<li><a href="/logout">注销</a></li>
<li><a href="/order"><span class="glyphicon glyphicon-shopping-cart">书单</span></a></li>
</ul>

{% endif %}

</div>
</div>
</div>

<div class="row thumbnail" id="bookid" value="{{book_info[1]}}">

<div class="col-sm-4">

<img style="width:100%;height:500px;" src="{{book_info[4]}}">

<div class="caption center">

<h3>{{book_info[0]}}</h3>

<p>作者：{{book_info[3]}}</p>

<p>出版年份：{{book_info[2]}}</p>

<p>
<a class="btn btn-primary btn-block" href="/addcart?bookid={{book_info[1]}}">
加入购物车
</a>
</p>

</div>

</div>

<div class="col-sm-8">

<div class="info-box">

<h3>图书信息</h3>

<p>
本书作者为 <b>{{book_info[3]}}</b>，
出版时间为 <b>{{book_info[2]}}</b>。
该书已被收录进智能图书推荐系统数据库。
</p>

<hr>

<h3>评分说明</h3>

<p>
用户可以通过下方评分系统对该书进行评分，
评分范围为 <b>1~5 星</b>。
系统会根据用户评分行为不断优化推荐结果。
</p>

<hr>

<h3>推荐说明</h3>

<p>
本系统基于用户历史评分数据，
通过协同过滤算法分析用户兴趣，
为用户推荐可能感兴趣的图书。
</p>

<p>
当您浏览或评分该书后，
系统将自动更新您的推荐列表。
</p>

</div>

{% if not login %}

<a href="/loginForm" class="btn btn-primary">请登录后评分</a>

{% else %}

<h3>图书评分</h3>

<br>

<div class="box" id="score_" value="{{score}}">

<input type="radio" id="5" name="rank">
<label for="5" class="star">
<svg width="50" height="50">
<path id="score_5"
d="M25 2 L31 18 L48 18 L34 28 L39 45 L25 35 L11 45 L16 28 L2 18 L19 18 Z"/>
</svg>
</label>

<input type="radio" id="4" name="rank">
<label for="4" class="star">
<svg width="50" height="50">
<path id="score_4"
d="M25 2 L31 18 L48 18 L34 28 L39 45 L25 35 L11 45 L16 28 L2 18 L19 18 Z"/>
</svg>
</label>

<input type="radio" id="3" name="rank">
<label for="3" class="star">
<svg width="50" height="50">
<path id="score_3"
d="M25 2 L31 18 L48 18 L34 28 L39 45 L25 35 L11 45 L16 28 L2 18 L19 18 Z"/>
</svg>
</label>

<input type="radio" id="2" name="rank">
<label for="2" class="star">
<svg width="50" height="50">
<path id="score_2"
d="M25 2 L31 18 L48 18 L34 28 L39 45 L25 35 L11 45 L16 28 L2 18 L19 18 Z"/>
</svg>
</label>

<input type="radio" id="1" name="rank">
<label for="1" class="star">
<svg width="50" height="50">
<path id="score_1"
d="M25 2 L31 18 L48 18 L34 28 L39 45 L25 35 L11 45 L16 28 L2 18 L19 18 Z"/>
</svg>
</label>

</div>

{% endif %}

</div>

</div>

<script>

var checked_num = $("#score_").attr("value") || 0;

var book_id = $("#bookid").attr("value");

function paintStar(score){

for(var i=1;i<=5;i++){

$("#score_"+i).css("fill","none");

}

for(var i=1;i<=score;i++){

$("#score_"+i).css("fill","#f00");

}

}

paintStar(checked_num);


$('.star').click(function(){

var score = parseInt($(this).attr("for"));

paintStar(score);

$.ajax({

url:'/rating',

type:'POST',

data:{
rank:score,
book_id:book_id
},

success:function(data){

console.log("评分成功");

}

});

});

</script>

</body>
</html>
