<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta charset="UTF-8">

<title>历史评分</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='Flat-UI/dist/css/flat-ui.min.css') }}">

<script src="{{ url_for('static', filename='Flat-UI/dist/js/vendor/jquery.min.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='Flat-UI/dist/js/flat-ui.min.js') }}"></script>


<style>

.container{
margin-top:20px;
}

.line-center{
line-height:50px;
text-align:center;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.list-group-item{
cursor:pointer;
}

.list-group-item:hover{
background:#27ae60;
color:white;
}

.table-header{
background:#f8f9fa;
font-weight:bold;
}

</style>

</head>

<body>


<nav class="navbar navbar-default navbar-static-top">

<div class="container">

<div class="navbar-header">

<a class="navbar-brand" href="/">图书推荐系统</a>

</div>


<div class="collapse navbar-collapse">

<ul class="nav navbar-nav">

<li><a href="/">首页</a></li>

<li class="active"><a href="/historical">历史评分</a></li>

<li><a href="/user">个人中心</a></li>

</ul>


{% if not login %}

<ul class="nav navbar-nav navbar-right">

<li><a href="/loginForm">登录</a></li>

<li><a href="/registerationForm">注册</a></li>

</ul>

{% else %}

<ul class="nav navbar-nav navbar-right">

<li><a>{{ useid }}</a></li>

<li><a href="/logout">注销</a></li>

</ul>

{% endif %}

</div>

</div>

</nav>



<div class="container">


<h1 class="text-center">历史评分</h1>

<hr>



<div class="row table-header">

<div class="col-xs-2 line-center">编号</div>

<div class="col-xs-3 line-center">名称</div>

<div class="col-xs-3 line-center">作者</div>

<div class="col-xs-2 line-center">评分</div>

<div class="col-xs-2 line-center">操作</div>

</div>



<div class="list-group">


{% if books %}

{% for book in books %}


<div class="list-group-item row"
onclick="myClick('{{ book[2] }}')">


<div class="col-xs-2 line-center">

{{ book[2] }}

</div>


<div class="col-xs-3 line-center">

{{ book[0] }}

</div>


<div class="col-xs-3 line-center">

{{ book[1] }}

</div>


<div class="col-xs-2 line-center">

{{ book[3] }}

</div>


<div class="col-xs-2 line-center">

<button class="btn btn-success">

查看详情

</button>

</div>


</div>


{% endfor %}


{% else %}

<div class="list-group-item text-center">

暂无历史评分记录

</div>

{% endif %}


</div>


</div>



<script>

function myClick(bookid){

window.location.href="/bookinfo?bookid="+bookid;

}

</script>


</body>
</html>
